* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

header {
  font-weight: 900;
  height: 100%;
  width: 16%;
  color: #aaaaaa;
  font-size: 12px;
}

.logo {
  width: 70%;
  margin: 10px 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

a {
  color: #aaaaaa;
  text-decoration: none;
}

.sidebar > * {
  margin: 4px;
}

.sidebar > * > * {
  cursor: pointer;
}

.links {
  border-bottom: 1px solid #aaaaaa;
}

.links span {
  font-size: 30px;
  margin-right: 10px;
}

nav {
  margin-bottom: 30px;
}

.color {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.color > *{
  transition: 0.5s;
}

.color:hover > *{
  color: #fff;
}

.selecionado > * {
  color: #fff;
}

.myPlaylists {
  font-weight: 600;
  overflow-y: auto;
  height: 80px;
}

.myPlaylists::-webkit-scrollbar {
  width: 8px;
}

.myPlaylists::-webkit-scrollbar-track {
  background: #000;
}

.myPlaylists::-webkit-scrollbar-thumb {
  background-color: #000;
}

.myPlaylists:hover::-webkit-scrollbar-thumb {
  background-color: #404040;
}

img {
  width: 100%;
  border-radius: 8px;
}

main {
  background-color: #121212fe;
  color: #fff;
  width: 84%;
  padding: 10px;
  font-weight: normal;
  font-size: x-small;
}

main > * {
  margin: 20px 10px;
}

.playlists {
  display: flex;
}

.album {
  background-color: #181818fe;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 8px;
  transition: 0.5s;
  position: relative;
}

.album:hover {
  background-color: #404040;
}

.album > * {
  padding: 5px;
}

.album > p {
  opacity: 0.6;
  font-size: 13px;
}

.album {
  cursor: pointer;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #000;
  width: 30px;
  height: 30px;
  background-color: #1DB954;
  padding: 20px;
  border-radius: 50%;
  bottom: 77px;
  right: 22px;
  opacity: 0;
  transition: 0.5s;
}

.player {
  display: flex;
  position: absolute;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 80px;
  background-color: #181818fe;
  border-top: 1px solid #434343;
  bottom: 0;
}

.capa {
  width: 16%;
  position: absolute;
  bottom: 80px;
}

.artista {
  display: flex;
  color: #fff;
  height: 100%;
  font-size: 11px;
  padding: 0 20px;
  flex-direction: column;
  justify-content: center;
}

.artista > p {
  margin-top: 4px;
  opacity: 0.6;
}

.player {
  display: flex;
  align-items: center;
}

.player span {
  color: #fff;
  font-size: 18px;
}

.contF {
  display: flex;
}

.like {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.cansei {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.main-player {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-player > * {
  margin: 5px;
}

.main-player > * > span {
  color: #aaaaaa;
  font-size: 24px;
}

.like > span, .aleatorio > span {
  color: #1DB954;
}

.playMusic > span {
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  font-size: 35px;
}

.progress-bar {
  background-color: #515151;
  width: 100%;
  height: 5px;
  border-radius: 30px;
}

.progresso {
  background-color: #aaaaaa;
  height: 5px;
  width: 50%;
  border-radius: 30px;
}

.volume-bar {
  background-color: #515151;
  width: 100px;
  height: 5px;
  border-radius: 30px;
}

.volume {
  background-color: #aaaaaa;
  height: 5px;
  width: 50%;
  border-radius: 30px;
}