* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

header {
  font-weight: 900;
  height: 100%;
  width: 16%;
  color: #aaaaaa;
  font-size: 12px;
}

.logo {
  width: 70%;
  margin: 10px 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

a {
  color: #aaaaaa;
  text-decoration: none;
}

.sidebar > * {
  margin: 4px;
}

.sidebar > * > * {
  cursor: pointer;
}

.links {
  border-bottom: 1px solid #aaaaaa;
}

nav {
  margin-bottom: 30px;
}

.color {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.color > *{
  transition: 0.5s;
}

.color:hover > *{
  color: #fff;
}

.selecionado > * {
  color: #fff;
}



img {
  width: 100%;
}

main {
  background-color: #111111;
  color: #fff;
  width: 84%;
  padding: 10px;
  font-weight: normal;
  font-size: x-small;
}

main > * {
  margin: 20px 10px;
}

.playlists {
  display: flex;
}

.album {
  background-color: #232323;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 8px;
  transition: 0.5s;
  position: relative;
}

.album:hover {
  background-color: #404040;
}

.album > * {
  padding: 5px;
}

.album > p {
  opacity: 0.8;
}

.album {
  cursor: pointer;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #000;
  width: 30px;
  height: 30px;
  background-color: #1DB954;
  padding: 20px;
  border-radius: 50%;
  bottom: 77px;
  right: 22px;
  opacity: 0;
  transition: 0.5s;
}